//FontsFamilies Index
//font-family: 'Maven Pro', sans-serif;
//font-family: 'Nunito Sans', sans-serif;

$maven: "Maven Pro", sans-serif;
$nunitoSans: "Nunito Sans", sans-serif;

$transitionTime: 0.3s;

//------------------------- CSS de Secciones en general -------
.main {
  font-family: $maven;
}

.section {
  height: 100vh;
  color: white;
}
// -------------------------------------------------------------

//-------------------------- Menu y transiciones de menu items -
.menu {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
}

.menu li {
  list-style: none;
}

.menuIcon {
  opacity: 1;
  transition: font-size $transitionTime;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  background-color: rgb(93, 5, 165,0.6);
  border-radius: 3rem;
  box-shadow: 0px 0px 30px 8px rgb(93, 5, 165);
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.menu:hover .menuOptions {
  opacity: 1;
  transition: opacity $transitionTime, font-size $transitionTime,
    color $transitionTime;
}

.menu:hover .menuIcon {
  font-size: 1rem;
  transition: font-size $transitionTime;
}

.menuOptions {
  opacity: 0;
  font-size: 1.3rem;
  color: grey;
  transition: font-size $transitionTime, color $transitionTime,
    opacity $transitionTime;
  margin: 0.5rem;
}

.menuOptions:hover {
  font-size: 1.8rem;
  color: white;
  transition: font-size $transitionTime, color $transitionTime;
}
// -------------------------------------------------------------

//--------------------------------------------Titulo------------
.title {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.2rem;
  font-family: $nunitoSans;
}

.title h4 {
  font-weight: 200;
}

#helloText {
  transition: opacity 0.5s;
}

.blobContainer {
  position: absolute;
  height: 100vh;
}

.blob {
  position: absolute;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  border-radius: 50%;
  opacity: 9%;
}

#blob1 {
  background-color: rgb(24, 3, 216);
  width: 10rem;
  height: 10rem;
}

#blob2 {
  background-color: white;
  width: 20rem;
  height: 20rem;
}

#blob3 {
  background-color: rgb(138, 30, 253);
  width: 30rem;
  height: 30rem;
}

// -------------------------------------------------------------

// ---------------------- About me -----------------------------
.aboutMe {
  background-color: rgb(88, 45, 45);
  margin: 0;
  display: flex;
  justify-content: left;
  text-align: left;
  font-size: 2.2rem;
}

.aboutMe p {
  margin: 0;
  margin-left: 10rem;
  padding-top: 5rem;
  width: 70%;
}
// -------------------------------------------------------------

// -----------------------Programacion -------------------------
.programacion {
  background-color: rgb(38, 41, 80);
  margin: 0;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2.2rem;
}

.programacion p {
  margin: 0;
  padding-top: 5rem;
  width: 70%;
}
// -------------------------------------------------------------

// ----------------------- ZS Team -----------------------------
.zsteam {
  background-color: yellow;
}
// -------------------------------------------------------------
